DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password
DB_NAME=messaging

PORT=8080

KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=messaging-api-gateway
KAFKA_TOPIC_MESSAGE_SEND=message.send
KAFKA_WORKER_EMAIL_CLIENT_ID=worker-email
KAFKA_WORKER_EMAIL_GROUP_ID=worker-email-group
